* {
    font-family: 'Open Sans', sans-serif;
	margin: 0; 
    padding: 0;
    text-align: center;
	background-color: rgb(234, 220, 104);
}

.header {
    height: 6vw;
    display: flex;
    justify-content: space-around;
    padding: 1vw 0 0 0;
    margin: 0 10vw 0 10vw;
}

.link {
    line-height: 6vw;
    text-decoration: none;
    font-size: 1.7vw;
    font-weight: 630;
    color: #A5292A;
    transition: .2s all;
    opacity: .95;
}

.image {
    width: 8vw;
    height: 5vw;
    transition: .2s all;
    opacity: .95;
}

.image:hover, .image:focus, .image:active {
    opacity: 0.5;
    width: 8.35vw;
    height: 5.35vw;
}

#img {
    position: relative;
    width: 30vw; 
    height: 35vw;
}

.main {
    display: flex;
    align-items: center;
    opacity: 0;
}

#left_side {
    margin: 5vw 0 0 6vw;
}

#right_side {
    width: 53vw; 
    height: 33vw; 
    margin: 4vw 0 0 5vw;
}

h1 {
    font-size: 5.7vw;
}

p {
    font-size: 1.5vw;
    letter-spacing: 0.12vw;
}